@import "bower_components/normalize-css/normalize.css";

.intro {
    max-width: 1024px;
    margin: 0 auto;
}

.interactive {
    width: 100%;
    max-width: 100%;
    overflow-x: scroll;
}

#map {
    width: 100%;
}

#map_wrapper {
    position: relative;
    width: 1000px;
}

#map_shield {
    width: 100%;
    height: 100%;
    position: absolute;
}